.App {
  text-align: center;
}

.App-header {
  color: #333; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 > img {
  height: 50px;
  /* vertical-align: -webkit-baseline-middle; */
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
}